$orange_color: #FF5403;
$purple_color: #C22AEF;
$white_color: #FFFFFF;

body {
  background-image: url("../../../public/svg/wormz.svg");
}

nav {
  min-height: 4.5rem;
  overflow: hidden;
  background-color: $white_color;
}

#logo {
  display: flex;
  height: 1.625rem;
  max-width: 130px;
  padding: 0;
  margin-right: 5.756%;
  img:first-of-type {
    margin-right: 14.9px;
  }
}

.navbar {
  #navbarSupportedContent {
    li {
      margin-right: 16px;
      a {
        padding: 0;
      }
    }
  }

  #search_button, .basket_button {
    width: 5.0625rem;
    height: 2.5625rem;
  }

  .basket_button {
    div {
      position: relative;
      width: 1.6875rem;
      height: 1.625rem;
    }
    p {
      position: absolute;
      top: 0;
      right: 0;
      height: 0.875rem;
      width: 0.875rem;
      background: linear-gradient(#FFBC03, #F31463);
      border-radius: 50%;
      font: normal 0.625rem Lato;
      color: $white_color;
      text-align: center;
      z-index: 15;
    }

    img {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 14;
    }
  }

  #sign_up, #login {
    width: 5.0625rem;
    height: 2.25rem;
  }

  #sign_up {
    border: 1px solid $orange_color;
    color: $orange_color;
    font-family: 'Lato', sans-serif;
    font-size: 0.875rem;
  }

  #login {
    color: #313640;
    font: bold 1rem Lato;
  }
}

.basic_square {
  position: absolute;
  z-index: -10;
  //position: relative;
  width: 100%;
  height: 79px;
  background-color: $white_color;
}
@mixin triangle($border_width, $border_color) {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $border_width;
  border-color: $border_color;
}
#white_triangle_top {
  @extend .basic_square;
  top: 72px;
}
#white_triangle_bottom {
  @extend .basic_square;
  //bottom: -10px;
  height: 155px;
}
#white_triangle_top:after {
  @include triangle(0 100vw 7.5vw 0, transparent $white_color transparent transparent);
  position: absolute;
  top: 79px;  left: 0;
}
#white_triangle_bottom:before {
  @include triangle(6.7vw 0 0 100vw, transparent transparent transparent $white_color);
}

#models, #videos {
  width: 5.0625rem;
  font: bold 1rem Lato;
  color: #313640;
}

#header_who_are_you {
  color: #313640;
  width: 100%;
  //z-index: 5;

  h1 {
    font: bold 2.625rem Tajawal !important;
    //margin-top: 53px;
    height: 3.5rem !important;
    margin-bottom: 0.375rem !important;
  }

  #header_under_liner {
    width: 18.625rem;
    height: 0.375rem;
    background: linear-gradient(to right, #FFBC03, #F31463);
  }
}

#main_content {
  overflow: hidden;
  width: 100%;
  margin-top: 3.3125rem;
  //margin-top: -1.625rem;
  //min-height: 55.25rem;
  margin-bottom: 104px
}

#main_content_2 {
  //flex-wrap: wrap;
  //overflow: hidden;
  width: 100%;
  margin-top: 4.6875rem;
  #fan_window, #model_window {
    width: 100%;
    max-width: 372px;
    min-width: 270px;
    height: 100%;
    max-height: 540px;
    padding: 9.68% 11.83% 11.83% 11.83%;
    //padding: 1.865% 2.27% 2.27% 2.27%;
    background-color: $white_color;
    border-radius: 6px;
    -webkit-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.16);
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.16);
  }

  #or_window_m_s {
    margin-left: 3.8%;
    margin-right: 3.8%;
  }
  #or_window {
    color: #313640;
    //width: 3.75rem;
    height: 100%;
    width: 100%;
    //margin-left: 3.9%;
    //margin-right: 3.9%;
    p {
      font: bold 2.8125rem Lato;
      line-height: 45px;
    }
  }

  #fan_window {
    h2 {
      color: $orange_color;
    }

    #sign_up_for_free {
      background: linear-gradient(to right, #FFBC03, #F31463);

      div {
        max-width: 176px;
      }
    }
  }

  #model_window {
    h2 {
      color: $purple_color;
    }

    #start_my_store {
      background: linear-gradient(to right, #EF2AA5, $purple_color);

      div {
        max-width: 177px;
        span {
          letter-spacing: 0.025vw;
        }
      }
    }
  }

  #fan_window h2, #model_window h2 {
    font: bolder 2.625rem Lato;
    line-height: 45px;
    //margin-top: 2.25rem;
  }
  #fan_window h4, #model_window h4 {
    color: #313640;
    font: bold 1.125rem Lato;
    height: 1.375rem;
    margin-bottom: 1.3125rem;
  }
  .bottom_button {
    //margin-top: 4.4375rem;
    height: 3rem;
    width: 100%;
    border-radius: 0.375rem;
    font: bold 1rem Lato;
    color: $white_color;
    padding: 3.2% 14.5%;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    img {
      margin-left: 8px;
    }
  }

  .middle_list {
    //margin-top: 2.625rem;
    width: 100%;
    height: 100%;
    max-height: 353px;
    padding: 12% 10.08% 25.1% 10.08%;
    .media {
      height: 24px;
      margin-bottom: 12px;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      align-content: stretch;
      img {
        position: relative;
        bottom: 1px;
      }
    }
    .media-body {
      color: #616A80;
      p {
        margin: 0;
      }
    }
    p {
      line-height: 16px;
    }
  }
}

#login_now {
  width: 100%;
  margin-top: 104px;
  height: 1.375rem;
  color: #313640;
  font: normal 1.125rem Lato;

  a {
    color: $orange_color;
    font-weight: bold;
  }
}

@media only screen and (max-width: 920px) {
  #main_content_2 {
    flex-wrap: wrap;
    #fan_window_m_s, #or_window_m_s, #model_window_m_s {
      display: flex;
      flex-basis: 100% !important;
      justify-content: center;
    }
    #fan_window, #model_window {
      width: 80%;
      padding: 5.63%;
    }
    #or_window {
      width: 59px;
      margin-top: 1rem;
      height: 140px;
    }
  }
}

@media (min-width: 769px) and (max-width: 920px){
  #login_now {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 769px) {
  .navbar {
    #navbarSupportedContent {
      li {
        a {
          padding: 6px 12px;
        }
      }
    }
  }

  #white_triangle_bottom:before {
    border-width: 5vw 0 0 100vw;
  }

  #navbar_items_left {
    width: 85%;
    a {
      width: 75%;
      margin-right: 0;
      text-align: center;
    }
  }
  .navbar {
    .basket_button {
      width: auto;
    }
  }

  #main_content {
    margin-top: 0.2rem;
    //margin-top: -4.625rem;
    #login_now {
      margin-top: 70px;
    }
  }

  #white_triangle_bottom {
    bottom: -30px;
  }
}