body {
  background-image: url("../../../public/svg/wormz.svg");
}

nav {
  min-height: 4.5rem;
  overflow: hidden;
}

#logo {
  height: 1.625rem;
  width: 8.125rem;
  padding: 0;
}

.navbar {
  #navbarSupportedContent {
    li {
      margin-right: 4.94%;
      a {
        padding: 0;
      }
    }
  }

  #search_button, .basket_button {
    width: 5.0625rem;
    height: 2.5625rem;
  }

  .basket_button {
    div {
      position: relative;
      width: 1.6875rem;
      height: 1.625rem;
    }
    p {
      position: absolute;
      top: 0;
      right: 0;
      height: 0.875rem;
      width: 0.875rem;
      background: linear-gradient(#FFBC03, #F31463);
      border-radius: 50%;
      font: normal 0.625rem Lato;
      color: #FFFFFF;
      text-align: center;
      z-index: 15;
    }

    img {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 14;
    }
  }

  #sign_up, #login, #collapse_sign_up, #collapse_login {
    width: 5.0625rem;
    height: 2.25rem;
  }

  #sign_up {
    border: 1px solid #FF5403;
    color: #FF5403;
    font-family: 'Lato', sans-serif;
    font-size: 0.875rem;
  }

  #login, #collapse_login, #collapse_sign_up {
    color: #313640;
    font: bold 1rem Lato;
  }
}

#white_triangle_top {
  //overflow: hidden;
  z-index: -10;
  position: relative;
  width: 100%;
  height: 79px;
  background-color: #f8f9fa;
}

#white_triangle_top:after {
  content: "";
  position: absolute;
  top: 79px;  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100vw 7.6vw 0;
  border-color: transparent #f8f9fa transparent transparent;
}


#white_triangle_bottom {
  z-index: -10;
  position: relative;
  bottom: -10px;
  width: 100%;
  height: 79px;
  background-color: #f8f9fa;
}

#white_triangle_bottom:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.6vw 0 0 100vw;
  border-color: transparent transparent transparent #f8f9fa;
}

#models, #videos {
  width: 5.0625rem;
  font: bold 1rem Lato;
  color: #313640;
}

#header_who_are_you {
  color: #313640;
  width: 100%;
  z-index: 5;

  h1 {
    font: bold 2.625rem Tajawal !important;
    //margin-top: 53px;
    height: 3.5rem !important;
    margin-bottom: 0.375rem !important;
  }

  #header_under_liner {
    width: 18.625rem;
    height: 0.375rem;
    background: linear-gradient(to right, #FFBC03, #F31463);
  }
}

#main_content {
  overflow: hidden;
  width: 100%;
  margin-top: -1.625rem;
  min-height: 55.25rem;
}

#main_content_2 {
  overflow: hidden;
  width: 100%;
  margin-top: 4.6875rem;
  #fan_window, #model_window {
    width: 19.3%;
    min-width: 270px;
    height: 33.75rem;
    background-color: #FFFFFF;
    -webkit-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.16);
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.16);
  }

  #or_window {
    color: #313640;
    width: 3.75rem;
    height: 100%;
    margin-left: 3.9%;
    margin-right: 3.9%;
    p {
      font: bold 2.8125rem Lato;
    }
  }

  #fan_window {
    h2 {
      color: #FF5403;
    }

    #sign_up_for_free {
      background: linear-gradient(to right, #FFBC03, #F31463);

      div {
        max-width: 176px;
        span {
          letter-spacing: 0.016vw;
        }
      }
    }
  }

  #model_window {
    h2 {
      color: #C22AEF;
    }

    #start_my_store {
      background: linear-gradient(to right, #EF2AA5, #C22AEF);

      div {
        max-width: 177px;
        span {
          letter-spacing: 0.025vw;
        }
      }
    }
  }

  #fan_window h2, #model_window h2 {
    font: bold 2.625rem Lato;
    margin-top: 2.25rem;
  }
  #fan_window h4, #model_window h4 {
    color: #313640;
    font: bold 1.125rem Lato;
    height: 1.375rem;
    margin-bottom: 1.3125rem;
  }
  .bottom_button {
    margin-top: 4.4375rem;
    height: 3rem;
    max-width: 76%;
    border-radius: 0.375rem;
    font: bold 1rem Lato;
    color: #FFFFFF;
    padding: 3.2% 14.5%;
    img {
      margin-left: 8px;
    }
  }

  .middle_list {
    margin-top: 2.625rem;
    max-width: 60.7%;
    height: 46%;
    .media {
      height: 24px;
      margin-bottom: 12px;
    }
    .media-body {
      color: #616A80;
    }
  }
}

#login_now {
  width: 100%;
  margin-top: 104px;
  height: 1.375rem;
  color: #313640;
  font: normal 1.125rem Lato;

  a {
    color: #FF5403;
  }
}

@media only screen and (max-width: 769px) {
  #navbarToggleExternalContent a {
    font: bold 1rem Lato;
    color: #313640;
    img {
      margin-right: 6px;
    }
    #collapse_line {
      background-color: #FF5403;
    }
  }

  #navbarToggleExternalContent {
    background-color: #f8f9fa;
    z-index: 100;
    hr {
      background-color: #FF5403;
    }
  }

  #navbar_items_left {
    width: 85%;
    a {
      width: 75%;
      margin-right: 0;
      text-align: center;
    }
  }
  .navbar {
    .basket_button {
      width: auto;
    }
  }

  #main_content {
    margin-top: -4.625rem;
  }

  #or_window {
    margin-top: 1rem;
  }

  #main_content_3 {
    overflow: hidden;
    width: 100%;
    margin-top: 4.6875rem;
    #fan_window, #model_window {
      max-width: 372px;
      min-width: 320px;
      height: 33.75rem;
      background-color: #FFFFFF;
      -webkit-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.16);
      -moz-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.16);
      box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.16);
    }

    #or_window {
      color: #313640;
      width: 3.75rem;
      height: 100%;
      margin-left: 3.9%;
      margin-right: 3.9%;
      p {
        font: bold 2.8125rem Lato;
      }
    }

    #fan_window {
      h2 {
        color: #FF5403;
      }

      #sign_up_for_free {
        background: linear-gradient(to right, #FFBC03, #F31463);

        div {
          max-width: 176px;
          span {
            letter-spacing: 0.016vw;
          }
        }
      }
    }

    #model_window {
      h2 {
        color: #C22AEF;
      }

      #start_my_store {
        background: linear-gradient(to right, #EF2AA5, #C22AEF);

        div {
          max-width: 177px;
          span {
            letter-spacing: 0.025vw;
          }
        }
      }
    }

    #fan_window h2, #model_window h2 {
      font: bold 2.625rem Lato;
      margin-top: 2.25rem;
    }
    #fan_window h4, #model_window h4 {
      color: #313640;
      font: bold 1.125rem Lato;
      height: 1.375rem;
      margin-bottom: 1.3125rem;
    }
    .bottom_button {
      margin-top: 4.4375rem;
      height: 3rem;
      max-width: 76%;
      border-radius: 0.375rem;
      font: bold 1rem Lato;
      color: #FFFFFF;
      padding: 3.2% 14.5%;
      img {
        margin-left: 8px;
      }
    }

    .middle_list {
      margin-top: 2.625rem;
      max-width: 60.7%;
      height: 46%;
      .media {
        height: 24px;
        margin-bottom: 12px;
      }
      .media-body {
        color: #616A80;
      }
    }
  }


}